.env
notes.txt
__pycache__
local-storm-459018-n0-d4614ba670eb.json
prompt.py
main.py
#smalagaPortada.jpg
webApp/models
webApp/Views
Database/Users_preferences
Database/gastronomic_route_Málaga.pdf
malagaPortada.jpg
.DS_Store
Database/Users_preferences/,DS_Store