.env
notes.txt
__pycache__
local-storm-459018-n0-d4614ba670eb.json
prompt.py
main.py
#smalagaPortada.jpg
express_gastronomic_route/webApp/models
express_gastronomic_route/webApp/Views
express_gastronomic_route/Database/Users_preferences
express_gastronomic_route/Database/gastronomic_route_Málaga.pdf
express_gastronomic_route/Photos/malagaPortada.jpg
.DS_Store
express_gastronomic_route/Database/Users_preferences/.DS_Store
malagaPortada.jpg
