import folium
import googlemaps
import json
import math
import os
import re
import requests
import streamlit as st
import sys
import urllib.parse
import webbrowser

from datetime import datetime
from dotenv import load_dotenv
from fpdf import FPDF
